!.gitignore


Lab1/Lab1_STM32F4Cube_Base_project/*
!Lab1/Lab1_STM32F4Cube_Base_project/Sources
!Lab1/Lab1_STM32F4Cube_Base_project/Headers

Lab2/Lab2_STM32F4Cube_Base_project/*
!Lab2/Lab2_STM32F4Cube_Base_project/Src
!Lab2/Lab2_STM32F4Cube_Base_project/Inc
Lab2/Lab2_STM32F4Cube_Base_project/Inc/*.TMP

Lab3/Lab3_STM32F4Cube_Base_project/*
!Lab3/Lab3_STM32F4Cube_Base_project/Sources
!Lab3/Lab3_STM32F4Cube_Base_project/Headers

Lab4/Lab4_STM32F4Cube_Base_project/*
!Lab4/Lab4_STM32F4Cube_Base_project/Sources
!Lab4/Lab4_STM32F4Cube_Base_project/Headers


