!.gitignore


Lab1/Lab1_STM32F4Cube_Base_project/*
!Lab1/Lab1_STM32F4Cube_Base_project/Sources
!Lab1/Lab1_STM32F4Cube_Base_project/Headers

Lab2/Lab2_STM32F4Cube_Base_project/*
!Lab2/Lab2_STM32F4Cube_Base_project/Src

